@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-brand-purple: #962B8F;
  --color-brand-pink: #EE3968;
  --color-brand-grey: #616161;
}

body {
  font-family: 'Roboto', sans-serif;
}
